@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;600;700&family=Poppins:wght@200;300;400&family=Urbanist:ital,wght@0,300;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
  list-style: none;
  border: none !important;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #2f6b4f;
  --secondary-color: #ffffff;
  --third-color: #2a2c3d;
  --p-color: #d9d9d9;
  --fourth-color: #f9f9f9;
  --font: "Open Sans", sans-serif;
  --font-size: 20px;
}

.container {
  width: 100%;
  background-color: var(--third-color);
}
.container .navbar {
  border: 1px solid var(--third-color);
  width: 100%;
  height: 81px;
  padding: 0px 5%;
  display: flex;
  color: var(--secondary-color);
  font-size: var(--font-size);
  position: fixed;
  z-index: 1000;
  background-color: var(--primary-color);
  align-items: center; /* Align items vertically */
}

.container .navbar .logo {
  width: 45%;
  display: flex;
  border: 1px solid palevioletred;
  align-items: center;
}

.container .navbar .logo img {
  width: 40px;
  height: 40px;
}

.container .navbar .logo p {
  margin-left: 13px;
  font-weight: bold;
}

.container .navbar .navbar-menu {
  width: 55%;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  position: relative; /* Position relative for absolute children */
}

.container .navbar .navbar-menu .hamburger {
  display: none; /* Hide by default */
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--secondary-color);
}

.container .navbar .navbar-menu .nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container .navbar .navbar-menu a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* headers */
.header {
  /* 929px top + 670 px */

  /* 945 + 624 */
  display: flex;
  flex-direction: column;
  border: 10px solid yellow;
  position: relative;
  box-sizing: border-box;
}
.header .header-menu {
  width: 100%;
 
  background-color: var(--primary-color);
  /* height: 929px; */
}
.header .header-menu .header-text {
  color: var(--secondary-color);
  margin-top: 238px;
  border: 1px solid blueviolet;
  text-align: center;
  padding-left: 226px;
  padding-right: 215px;
}
.header .header-menu .header-text h1 {
  font-size: 64px;
  font-weight: 700;
}
.header .header-menu .header-text p {
  font-size: 23px;
  color: var(--p-color);
  margin-top: 32px;
}
/* button */
.header .header-menu .header-button {
  margin-top: 48px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ffffff;
}
.header .header-menu .header-button .buttons {
  border: 1px solid skyblue;
  width: 211px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}
.header .header-menu .header-button .buttons a {
  font-size: 20px;
  font-weight: bold;
  color: var(--third-color);
}

.header .header-menu .main-image {
  margin-top: 76px;
  position: absolute;
  width: 1324px;
  margin-left: 5%;
  z-index: 50;
  /* 1536 - 384 */
}
.header .header-menu .rate {
  /* 220 + 397 */
  background-color: var(--secondary-color);
  margin-top: 299px;
  /* height: 670px; */

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-menu .rate .inside-rate {
  /* margint 314 + 50 */
  /* 337 + 60 */
  width: 100%;
  display: flex;
  margin-top: 507px;
  margin-bottom: 100px;
  justify-content: space-between;
  padding: 0px 10%;
  text-align: center;
}

.container .our-service {
  background-color: var(--fourth-color);
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #2f6b4f;
}
.container .our-service .service-title {
  padding-top: 60px;
  border: 1px solid #000000;
  margin: 0px 5%;
  color: var(--third-color);
  width: 90%;
}
.container .our-service .service-title h2 {
  font-size: 36px;
  font-weight: 600;
}
.container .our-service .services {
  /* 258 x 2 */
  display: flex;
  border: 1px solid red;
  width: 100%;
  margin-top: 40px;
  padding: 0 7%;
  flex-wrap: wrap;
  gap: 1% 1%;
}

.container .our-service .services .services-box {
  margin-top: 20px;
  background-color: var(--secondary-color);
  height: 258px;
  width: calc(98% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 6px 24px rgba(42, 44, 61, 0.16);
  text-align: center;
  padding: 32px 0px;
}
.container .our-service .services .services-box p{
  font-size: 18px;
  margin-top: 16px;
}

.container .our-service .services .services-box h5 {
  font-size: 24px;
  margin-top: 16px;
}

/* portofolio */
.container .project-review {
  height: max-content;
  background-color: var(--secondary-color);
  width: 100%;
  border: 10px solid skyblue;
  padding: 100px 5% 20px 5%;
  display: flex;
  flex-direction: column;
}

.container .project-review .our-portofolios {
  
  border: 1px solid #000000;
}

.container .project-review .our-portofolios .portofolios-text {
  color: var(--third-color);
  border: 1px solid lime;
}
.container .project-review .our-portofolios .portofolios-text h2{
  font-size: 36px;
  font-weight: 600;
}

.container .project-review .our-portofolios .recent-projects {
  margin-top: 40px;
  border: 5px solid salmon;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.container .project-review .our-portofolios .recent-projects .project-x  {
  border: 2px solid black !important;
  
  padding: 10px;
}

.container .project-review .our-portofolios .recent-projects .project-x img {
  width: 100%;
}
.container .project-review .our-portofolios .recent-projects .project-x  h5 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}
.container .project-review .our-portofolios .recent-projects .project-x p {
  font-size: 18px;
  margin-top: 8px;
}

/* review */
.container .project-review .review {
  margin-top: 20px;
  border: 10px solid rgb(41, 198, 138);
  color: var(--third-color);
}

.container .project-review .review .reviewtop-text h2{

  font-size: 36px;
  font-weight: 600;
}

.container .project-review .review .allreview {
  margin-top: 40px;
  border: 5px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container .project-review .review .allreview  h5 {
  font-size: 24px;
  font-weight: 600;
}
.container .project-review .review .allreview  .review-x {
  padding: 24px 24px 0 24px;
  height: 251px;
  width: auto;
  border: 2px solid #000000 !important;
}

.container .project-review .review .allreview  .review-x .review-names {
  display: flex;
  border: 1px solid goldenrod;
}

.container .project-review .review .allreview  .review-x .review-text {
  margin-bottom: 21px;
  width: 100%;
  border: 1px solid salmon;
  height: 122px;
}
.container .project-review .review .allreview  .review-x .review-text h3 {
  font-size: 24px;
  font-weight: 600;
}
.container .project-review .review .allreview  .review-x .review-text p {
  margin-top: 8px;
}
.container .project-review .review .allreview  .review-x .review-names .name-text h5{
  font-size: 18px;
  font-weight: 600;
}
.container .project-review .review .allreview  .review-x .review-names .name-text {
  margin-left: 17px;
}

.container .footers {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .footers .contact {
  border: 2px solid yellow;
  width: 100%;
  height: 425px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .footers .contact h2{
  font-size: 48px;
  font-weight: 700;
}
.container .footers .contact .footer-text {
  text-align: center;
  border: 2px solid red;
  width: 60%;
  margin: 0px 20%;
}
.container .footers .contact .footer-button {
  width: 60%;
  margin-top: 32px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .footers .contact .footer-button .buttons {
  background-color: var(--secondary-color);
  padding:25px 23px;
  width: 200px;
  display: flex;

}
.container .footers .contact .footer-button .buttons .image{
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  width: 25%;
}
.container .footers .contact .footer-button .buttons a{
  border: 1px solid grey;
  width: 75%;
  font-weight: 600;
  font-size: 20px;
  color: var(--third-color);
}
.container .footers .footer {

  width: 100%;
  
  background-color: var(--secondary-color);
}

/* footer */
.container .footer{
  padding: 120px 5% 64px 5%;
  display: flex;
}
.container .footer .footer-left {
  width: 50%;
  padding-right: 10%;
} 
.container .footer .footer-left .footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid green;
}
.container .footer .footer-left .footer-logo p{
  margin-left: 8px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid red;
  height: 100%;
  
}
.container .footer .footer-left .outro{
  font-size: 18px;
  margin-top: 20px;
  color: var(--third-color)
}
.container .footer .footer-left .social{
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
/* footer right */
.container .footer .footer-right{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  font-size: 18px;
  border: 1px solid red;
  

}
.container .footer .footer-right .active{
  color: var(--third-color);
  font-weight: 600;
}
.container .footer .footer-right .inside {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 13px;
  border: 1px solid black;
  height: 100%;
}
.container .footer .footer-right .pages, .Explore,  .company{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid green;
}

@media only screen and (max-width: 768px) {
  .container .navbar {
    padding: 0;
  }
  .container .navbar .logo {
    margin-left: 20px;
  }
  .container .navbar .navbar-menu {
    width: 100%;
    
  }
  .container .navbar .navbar-menu .hamburger {
    display: block; /* Show hamburger on small screens */
  }

  .container .navbar .navbar-menu .nav-links {
    display: none; /* Hide nav links on small screens */
    position: absolute;
    top: 51px; /* Align right under navbar */
  
    width: 100vw;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    background-color: var(--primary-color);
    border-top: 1px solid var(--third-color);
  }

  .container .navbar .navbar-menu .nav-links li {
    text-align: center;
    border-bottom: 1px solid var(--third-color);
    width: 100%;
  }

  .container .navbar .navbar-menu .nav-links li:last-child {
    border-bottom: none;
  }

  .container .navbar .navbar-menu .nav-links.active {
    display: flex; /* Display nav links when active */
  }

  .header .header-menu .main-image {
    position: relative;
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .header .header-menu .header-text {
    padding: 0;
    margin-top: 10px;
  }
  .header .header-menu .header-text h1 {
    font-size: 50px;
  }
  .container .project-review .our-portofolios .recent-projects {
    flex-direction: column;
    gap: 15px;
  }
  .container .project-review .review .allreview {
    flex-direction: column;
    gap: 15px;
  }
  .container .footers .contact {
    height: auto;
  }
  .container .footer {
    flex-direction: column;
    gap: 30px;
  }
  .container .footer .footer-left {
    width: 100%;
  }
  .container .footer .footer-right {
    width: 100%;
  }
  .header .header-menu .rate  {
    margin: 0;
  }
  .header .header-menu .rate .inside-rate  {
    margin: 0;
    padding: 10px;
  }
  .container .our-service .service-title h2 {
    font-size: 24px;
  }
  .container .footers .contact {
    height: max-content;
    padding: 20px 0;
  }
  .container .footers .contact h2 {
    font-size: 35px;
  }
  .container .footers .contact .footer-text {
    margin: 9px;
    width: 100%;
  }
  
.container .our-service .services .services-box {
  width: calc(98%);
}
}